- name: Check that the kubeadm exists
  stat:
    path: /bin/kubeadm
  register: stat_result
  become: yes
  become_user: root

- name: do when kubeadm exists
  block:
  - name: reset cluster
    shell: yes | kubeadm reset
    become: yes
    become_user: root

  - name: stop kubelet
    systemd:
      name: kubelet
      state: stopped
    become: yes
    become_user: root

  - name: stop docker
    systemd:
      name: docker
      state: stopped
    become: yes
    become_user: root

  - name: Ansible delete file glob
    find:
      path: '{{ item }}'
      patterns: '*'
      recurse: true
      file_type: any
      hidden: yes
    register: files_to_delete
    with_items:
    - /var/lib/kubelet/
    - /var/lib/cni/flannel/
    - /etc/cni/
    become: yes
    become_user: root


  - name: Display all variables/facts known for a host
    debug:
      var: files_to_delete
      verbosity: 4

  - name: delete network files
    file:
      path: '{{ item.path }}'
      state: absent
    with_items: 
    - '{{ files_to_delete.results[0].files }}'
    - '{{ files_to_delete.results[1].files }}'
    - '{{ files_to_delete.results[2].files }}'
    become: yes
    become_user: root

  - name: start docker
    systemd:
      name: docker
      state: started
    become: yes
    become_user: root

  when: 'stat_result.stat.exists == True'
