- name: start new cluster
  shell: yes | kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address={{ NETWORK.IP_RANGE }}.100 --kubernetes-version=v1.10.5
  become: yes
  become_user: root

- name: copy admin conf file
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /root/.kube/config
    owner: root
    group: root
    mode: 0755
    remote_src: yes
  become: yes
  become_user: root

- name: change pod-eviction time
  lineinfile:
    insertafter: '\s+- kube-controller-manager'
    line: '    - --pod-eviction-timeout=2s'
    path: /etc/kubernetes/manifests/kube-controller-manager.yaml
  become: yes
  become_user: root

- name: remove flannel file
  file:
    path: /root/flannel.yml
    state: absent

- name: copy flannel file
  copy:
    src: '{{ K8s.FLANNEL.CONFIG.FILE_PATH }}'
    dest: /root/
    remote_src: no
  become: yes
  become_user: root

- name: start flannel network
  shell: kubectl apply -f /root/flannel.yml
  become: yes
  become_user: root
