**/files/*
!**/files/.gitkeep
WS_MQ_LINUX_ON_X86_64_7.5.0.2_IMG.tar
*.tar
**/test
test.*
inventory/host_vars/node4.yml
plays/playbook_test.yml

!roles/role_kubernetes/files/*
!roles/role_ntp/files/*
!roles/role_personal/files/*
