- name: install yum-utils
  yum:
    name: '{{ YUM_LOCAL_REPO.SRC }}/{{ ITEM }}'
  with_items:
    - '{{ YUM_LOCAL_REPO.YUM_UTILS.RPM_DEPENDENCY }}'
  become: yes
  become_user: root

- name: update yum-repolist
  template:
    dest: '{{ YUM_LOCAL_REPO.CONFIG.PATH }}'
    src: '{{ YUM_LOCAL_REPO.CONFIG.TEMPLATE }}'
  become: yes
  become_user: root

- name: install ftp server
  yum:
    name: '{{ YUM_LOCAL_REPO.SRC }}/{{ YUM_LOCAL_REPO.VSFTPD.RPM_DEPENDENCY }}'
    state: present
  become: yes

- name: start ftp server
  systemd:
    name: vsftpd
    state: started
    enabled: yes
  become: yes
  become_user: root

- name: copy localrepo files to ftp folder
  copy:
    src: '{{ YUM_LOCAL_REPO.SRC }}'
    dest: '{{ YUM_LOCAL_REPO.FTP_FOLDER }}'
    directory_mode: yes
  owner: root
  group: root
  mode: 0744
  become: yes
  become_user: root

- name: create repo
  shell:
    chdir: '{{ YUM_LOCAL_REPO.FTP_FOLDER }}'
    cmd: createrepo .
  become: yes
  become_user: root

- name: open port 21 for ftp
  firewalld:
    port: 21/tcp
    permanent: true
    state: enabled
  become: yes
  become_user: root
