[{{ YUM_LOCAL_REPO.CONFIG.ID }}]
name={{ YUM_LOCAL_REPO.CONFIG.NAME }}
baseurl={{ YUM_LOCAL_REPO.CONFIG.BASEURL }}
gpgcheck={{ YUM_LOCAL_REPO.CONFIG.GPGCHECK }}
enabled={{ YUM_LOCAL_REPO.CONFIG.ISENABLED }}
