- hosts: k8s
  remote_user: ansible
  connection: ssh
  gather_facts: no
  vars:
    docker:
      registry: false
    k8s:
      addnode: false
      node: true
      start: false
      reset: false
    yum:
      setup: false
    pip:
      setup: false
    ntp:
      client: true
      server: false
  roles:
    - role_yum
    - role_pip
    - role_network
    - role_ansible
    - role_docker
    - role_kubernetes
    - role_ntp
