- hosts: nodes
  remote_user: ansible
  connection: ssh
  gather_facts: no
  vars:
    docker:
      registry: false
    k8s:
      addnode: true
      node: false
      start: false
      reset: false
    yum:
      setup: false
    pip:
      setup: false
  roles:
    - role_yum
    - role_pip
    - role_network
    - role_ansible
    - role_docker
    - role_kubernetes
