- name: install libraries (only for centos 7)
  yum:
    name: '{{ item }}'
    state: present
  with_items:
    - '{{ IBMMQ.RPM_DEPENDENCY }}'
  become: yes
  become_user: ansible
- name: install ibm rpm
  file:
    path: '{{ IBMMQ.WD }}'
    state: directory
  become: yes
  become_user: ansible
- name: untar ibmmq src code
  unarchive:
    src: '{{ IBMMQ.SRC }}'
    dest: '{{ IBMMQ.WD }}'
  become: yes
  become_user: ansible
- name: run ibm mq license
  shell: 
    cmd: echo '1' | ./mqlicense.sh --stdin && ./crtmqpkg mqmpkg
    chdir: '{{ IBMMQ.WD }}'
  become: yes
  become_user: ansible
- name: install ibm rpm
  yum:
    name: '{{ IBMMQ.WD }}/{{ item }}'
    state: present
  with_items:
    - '{{ IBMMQ.RPM }}'
  become: yes
  become_user: ansible
- name: run other commands
  shell: /opt/mqm/bin/setmqinst -i -p /opt/mqm/
  become: yes
  become_user: ansible
- name: clean up
  shell:
    cmd: rm -rf *
    chdir: '{{ IBMMQ.WD }}'
  become: yes
  become_user: ansible
