[{{ YUM_LOCAL_REPO_CONFIG_ID }}]
name={{ YUM_LOCAL_REPO_CONFIG_NAME }}
baseurl={{ YUM_LOCAL_REPO_CONFIG_BASEURL }}
gpgcheck={{ YUM_LOCAL_REPO_CONFIG_GPGCHECK }}
enabled={{ YUM_LOCAL_REPO_CONFIG_ISENABLED }}
