TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=static
IPADDR="{{ NETWORK.IPADDR }}"
GATEWAY="{{ NETWORK.GATEWAY }}"
DNS1="{{ NETWORK.DNS1 }}"
NETMASK="{{ NETWORK.NETMASK }}"
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes 
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME="{{ NETWORK.INTERFACE }}"
UUID=ef287911-64cb-41c3-b60b-6cb1c2f01c18
DEVICE="{{ NETWORK.INTERFACE }}"
ONBOOT="{{ NETWORK.ONBOOT }}"
