127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ NETWORK.IP_RANGE }}.201 admin
{{ NETWORK.IP_RANGE }}.100 master
{{ NETWORK.IP_RANGE }}.101 node1
{{ NETWORK.IP_RANGE }}.102 node2
{{ NETWORK.IP_RANGE }}.103 node3
